.buttonRed {
  background-color: #c92c1a;
  color: #F3EFDF;
  border: none;
  padding: 8px 8px 8px 24px;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  box-shadow: 5px 5px 0px #000000;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.buttonRed:active {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0px #000000;
}

.iconCircle {
  background-color: #ececec;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCircle img {
  width: 25px;
  height: 25px;
}
/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
  .buttonRed {
    padding: 6px 6px 6px 16px; /* Reduzi o preenchimento lateral e vertical */
    font-size: 0.85rem;        /* Fonte menor */
    gap: 10px;                 /* Menos espaço entre o texto e o ícone */
    box-shadow: 3px 3px 0px #000000; /* Sombra menor para combinar com o botão menor */
  }

  .iconCircle {
    width: 30px;               /* Círculo do ícone menor */
    height: 30px;
  }

  .iconCircle img {
    width: 16px;               /* Ícone interno menor */
    height: 16px;
  }
  
  .buttonRed:active {
    transform: translate(1px, 1px); /* Ajuste leve na animação de clique */
    box-shadow: 2px 2px 0px #000000;
  }
}